<div class="card">
  <%= link_to image_tag(item.image, class: :card__img ), item_path(item.id)%>
  <div class="card__body">
    <%= link_to item.syohinmei, item_path(item.id), class: :card__title%>
    <p class="card__summary">
      <%= item.syohincode %>
    </p>
    <%= link_to item.user.tenpomei, root_path, class: :card__user %>
  </div>
</div>